/* Using this Sheet for Colors, background, fonts ect */

/* Style for elements in the heading container */

.HeadingContainer { /* All Placeholder ATM */
    background-color: purple;
    padding: 32px;
    color: white; 
}

.SecondContainerLeftTitle {
    font-weight: bold;}

/* Style for elements in the second container */


/* Style for elements in the third container */

/* Style for elements in the fourth container */

/* Style for elements in the fifth container */

/* Style for elements in the footer container */