.body {
    display: Flex;
    flex-direction: column;
}

.HeadingContainer {
    display: flex;
    justify-content: space-between;
    margin-bottom: 32px;
}



ul {
    margin: 0;
    list-style: none;
    display: flex;
    gap: 16px
}

.SecondContainer {
    display: flex;
    border: pink dotted 8px;
    justify-content: center;
}

.SecondContainerLeft {
    display: flex;
    flex-direction: column;
}

.SecondContainerRight {
    display: flex;
}

.ThirdContainer {
    display: flex;
    border: rgb(203, 255, 192) dotted 8px;
    justify-content: center;
}

.FourthContainer {
    display: flex;
    border: rgb(192, 198, 255) dotted 8px;
    justify-content: center;
}

.FifthContainer {
    display: flex;
    border: rgb(192, 204, 255) dotted 8px;
    justify-content: center;
}

.FooterContainer {
    display: flex;
    border: rgb(201, 192, 74) dotted 8px;
    justify-content: center;
}